.slide, .view1, .view1, .view2, .view3, .view4-1, .view4-2, .view4-3, .view5 {
  min-width: 100vw;
  min-height:110vh;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

header {
  position:fixed;
  width: 100%;
  height: 0;
  z-index: 1;
}

video {
  min-width:100%;
  min-height:100%;
  height: auto;
  width:auto;
  z-index: -100;
  overflow: hidden;
}

iframe {
  height:70vh;
  width:75vw;
  z-index: 100;
  overflow: hidden;
  margin:auto;
  background-color: #fff;
}

h1, h2, h4,  p {
  margin: 0;
  color: #5a5255;
  font-family: 'Oswald', sans-serif;
  width: 100vw;
}

h1 {
  font-size: 120px;
  margin: auto;
  margin-top: 32vh;
  text-align: center;
  width: 100%;
  letter-spacing: 6px;
  color: #5a5255;
  font-weight: 300;
}

h2 {
  font-size: 120px;
  margin: auto;
  margin-top: 12vh;
  text-align: center;
  width: 100%;
  letter-spacing: 6px;
  color: #5a5255;
  font-weight: 300;
  text-shadow: 1px 1px 1px #fff;
}

h3 {
  font-family: 'Yesteryear', cursive;
  font-size: 40px ;
  margin: 0;
  color: #5a5255;
  text-shadow: 1px 1px 1px #fff;
}

h4 {
  font-size: 20px;
  font-family: sans-serif;

}

h5 {
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
  color: #fff;

}

p {
  font-size: 50px;
  color:#5a5255;
  font-weight: bold;
  text-shadow: 1px 1px 1px #fff;
}

a{
  color: #5a5255;
  text-decoration: none;
  cursor: pointer;
}

i {
  color: #fff;
  text-decoration: none;
  text-shadow: 2px 2px 2px #000;
}

.logo {
  float: left;
  margin: 25px;
  border: 2px solid #fff;
  padding: 5px 8px 0 10px;
  box-shadow: 0 0 10px #000;
}

.menu {
  float: right;
  font-size: 40px;
  margin: 25px;
}

.menuopen {
  float: right;
  text-align: right;
  margin: 25px;
  z-index: 100;
}

.menuopen ul li a h5 {
  color:#fff;
}

.menuopen ul {
  width:250px;
  margin:0;
  padding: 0;
  border-radius: 5px;

}

.menuopen li {
  list-style-type: none;
  border: 1px solid white;
  border-radius: 2px;
  background-color: #888888;
  opacity: .8;

}

.menuopen h5 {
  padding: 5px 8px;
  margin: 0;
}

.menu i:hover, .menuopen h5:hover {
  color: #a0ce4e;
}

.logo h3:hover {
  color: #a0ce4e;
}

.menuopen li:hover {
  opacity: 1;
}

.titleblock {
  position: absolute;
  text-align: center;
  width: 100vw;
  z-index: 100;
}

.titleblock a {
  border: 3px solid #fff;
  padding: 0px 15px;
  box-shadow: 2px 2px 1px #000;
}

.titleblock a:hover {
  box-shadow: 0 0 50px #a0ce4e;
  color: #a0ce4e;
  border: 3px solid #a0ce4e;
}

.view1 .titleblock, .view2 .titleblock,.view3 .titleblock, .view4-1 .titleblock,.view5 .titleblock {
  top:100px;
}

.view1 {
  z-index: 0;
}

.tri1 {
  height: 500px;
  width: 450px;
  margin: auto;
  fill:red;
}

.tri2 {
  height: 500px;
  width: 500px;
  margin-left: -250px;
  fill:purple;
}

.tri3 {
  height: 800px;
  width: 800px;
  margin: auto;
  fill:green;
}

.directions {
  position: absolute;
  top: 80vh;
}

.view2 {
  z-index: 0;
}

splat {
  position: absolute;
  top:120px;
  bottom:0;
  left:0;
  right:0;
  z-index: -100;
  height: 100vh;
  width: 100%;
}

.splat {
  position: absolute;
  top: -80px;
}

.view4-1 {
  background-image: url("images/macbook.jpg");
  background-position: center;
}

.view4-2 {
  background-color:#f9e9dd;
}

.view4-2 .titleblock, .view4-3 .titleblock {
  top: 1vh;
}

.view4-2 iframe, .view4-3 iframe {
  margin-top: 200px;
}

.view4-3 {
  background-color:#bddde0;
}

.view5 {
  background-image: url("images/airport.jpg");
}

.view5 h2, .view5 h4, .view5 p, .view5 a {
  color: #fff;
}

.view5 h4 {
  padding-top: 25px;
}

footer {
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 70px;
  color: #fff;
  bottom: 0vh;
  background-color: #000;
}

span {
  font-family: "Amatic SC";
  font-size: 50px;
  font-weight: bold;
}

@media only screen and (max-width: 900px) {
  .view4-2 .titleblock, .view4-3 .titleblock {
    margin-top: 100px;
  }
  iframe {
    height:60vh;
  }
  .view4-2 iframe, .view4-3 iframe {
    margin-top: 250px;
  }
}

@media only screen and (max-width: 550px) {
  footer {
    height: 95px;
  }
}

@media only screen and (max-width: 365px) {
  footer {
    height: 115px;
  }
}

@media only screen and (max-height: 800px) {
  iframe {
    height: 70vh;
  }
}

@media only screen and (max-height: 700px) {
  iframe {
    height: 65vh;
  }
}

@media only screen and (max-height: 600px) {
  iframe {
    height: 55vh;
  }
}

@media only screen and (max-height: 500px) {
  iframe {
    height: 45vh;
  }
}

@media only screen and (max-height: 400px) {
  iframe {
    height: 35vh;
  }
}

@media only screen and (max-height: 300px) {
  iframe {
    height: 10vh;
  }
}
