<style media="screen">
  .nav2 p{
    color: #cf0000;
  }
</style>

<div class="containerart">
  <div class="leftside">
    <div class="leftbanner">
      <div class="lefttext">
        <h1>A</h1>
        <h1>R</h1>
        <h1>T</h1>
        <br><br><br>
        <h1>W</h1>
        <h1>O</h1>
        <h1>R</h1>
        <h1>K</h1>
      </div>
    </div>
  </div>
  <div class="rightside">
    <div class="rightpic">
      <img src="./images/IMG_1848.JPG"/>
    </div>
    <div class="righttext">
      <h2>This is my art work.</h2>
      <p>It's an eclectic collection of nature and happy thoughts. </p>
      <div class="rightpic">
        <img src="./images/IMG_0572.JPG"/>
      </div>
      <p>Painting puts my mind at ease. It also fulfils my need to create and design.</p>
      <div class="rightpic">
        <div class="rightpicsplit1">
          <img src="./images/IMG_0342.JPG"/>
        </div>
        <div class="rightpicsplit2">
          <img src="./images/IMG_0650.JPG"/>
        </div>
      </div>
      <p>I hope that my collection of paintings shows my artistic, design spirit. I truly love to create beautiful works of art.</p>
      <div class="rightpic">
        <img src="./images/IMG_0498.JPG"/>
      </div>
    </div>
  </div>
</div>
