<style media="screen">
  .nav3 p{
    color: #cf0000;
  }
</style>

<div class="containerbuild">
  <div class="leftside">
    <div class="leftbanner">
      <div class="lefttext">
        <h1>B</h1>
        <h1>U</h1>
        <h1>I</h1>
        <h1>L</h1>
        <h1>D</h1>        
        <br><br><br>
        <h1>W</h1>
        <h1>O</h1>
        <h1>R</h1>
        <h1>K</h1>
      </div>
    </div>
  </div>
  <div class="rightside">
    <div class="rightpic">
      <img src="./images/IMG_1721.JPG"/>
    </div>
    <div class="righttext">
      <h2>Here are some things I built.</h2>
      <p>These are a variety of things I've built, whether it be home projects or engineering work projects. </p>
      <div class="rightpic">
        <div class="rightpicsplit1">
          <img src="./images/IMG_0771.JPG"/>
        </div>
        <div class="rightpicsplit2">
          <img src="./images/IMG_0648.JPG"/>
        </div>
      </div>
      <p>As an engineer, I designed and manufactured heated hose assemblies. With that being said, I have heated some things of my own, like that heated chalk bag. </p>
      <div class="rightpic">
        <img src="./images/IMG_0496.JPG"/>
      </div>
      <p>And we can't forget about game night!</p>
      <div class="rightpic">
        <img src="./images/IMG_0058.JPG"/>
      </div>
      <p>This was one of my favorites, our best attempt at a stair climbing dolly. My college senior project. If we had another month, we could've lifted a washing machine up the stairs.</p>
      <div class="rightpic">
        <img src="./images/IMG_0795.JPG"/>
      </div>
      <div class="rightpic">
        <img src="./images/IMG_0796.JPG"/>
      </div>
      <div class="rightpic">
        <img src="./images/IMG_0797.JPG"/>
      </div>
      <div class="rightpic">
        <img src="./images/IMG_0798.JPG"/>
      </div>
      <div class="rightpic">
        <img src="./images/IMG_0799.JPG"/>
      </div>
      <p>Iteration is truly the mother of invention.</p>
      <div class="rightpic">
        <img src="./images/IMG_0854.JPG"/>
      </div>
      <p>I hope that this shows you my capacity for innovation and my ability to develop a product using high attention to detail and a good business sense.  </p>
      <div class="rightpic">
        <img src="./images/IMG_0865.JPG"/>
      </div>
    </div>
  </div>
</div>
