<style media="screen">
  .nav4 p{
    color: #cf0000;
  }
</style>

<div class="container">
  <div class="leftside">
    <div class="leftbanner">
      <div class="lefttext">
        <h1>M</h1>
        <h1>Y</h1>
        <br><br><br>
        <h1>R</h1>
        <h1>E</h1>
        <h1>S</h1>
        <h1>U</h1>
        <h1>M</h1>
        <h1>E</h1>
      </div>
    </div>
  </div>
  <div class="rightside">
    <div class="rightbanner">
      <div class="righttext">
        <h1>MY RESUME</h1>
      </div>
    </div>
    <div class="righttext">

      <h2>NICK MARUCCI</h2>
      <h2><a href="http://www.nickmarucci.com/index.html/#/view2">Portfolio.</a></h2>
      <span><p>Social Media</p></span>
      <p>
        <a target="_blank" href="http://www.github.com/npm1514">Git Hub</a>, <a href="https://www.facebook.com/nick.marucci.5">Facebook</a>, <a href="https://www.linkedin.com/in/nickmarucci">LinkedIn</a>
      </p>

      <span><p>Web Page Links</p></span>
      <p>
        <a target="_blank" href="http://www.sol-innovations.com">Sol Innovations Site</a>, <a target="_blank" href="http://www.pierce-auto.com">Auto Restoration Site</a>, <a target="_blank" href="http://globe.geordyn.com">DevMountain D3 Marketing Site</a>, <a target="_blank" href="http://scheduler.nickmarucci.com">Massage Therapy Scheduling Site</a>
      </p>

      <h2>Skills.</h2>
      <span><p>Front End Skills</p></span>
      <p><strong>HTML/CSS</strong> - Flex Box, Media Queries, Less/Sass/Scss</p>
      <p><strong>Javascript</strong> - API ($http, Ajax), ES6, Firebase</p>
			<p><strong>Libraries</strong> - D3, Bootstrap, FullCalendar, FullPage, Moment, jQuery</p>
			<p><strong>Compilers</strong> - Webpack, Gulp</p>
			<p><strong>Frameworks</strong> - Angular1, React, Ionic, React Native</p>
			<p><strong>Unit Testing</strong> - Jasmine, Mocha</p>

      <span><p>Back End Skills</p></span>
      <p><strong>Node, npm</strong> - Body-parser, Cors, Express, Mongodb, Mongojs, Mongoose, Nodemon, Passport, Path</p>
      <p><strong>Databases</strong> - MongoDB, SQL</p>

      <span><p>Web Tools</p></span>
      <p><strong>Text Editors</strong> – Atom, Sublime, Visual Studio Code</p>
      <p><strong>CAD Modeling</strong> – AutoCAD, FEA, Fusion, Inventor, Pro-Engineer</p>
      <p><strong>Other Tools</strong> – JSBin, JSFiddle, Postman, Microsoft Office, Minitab, Slack, Heroku, Digital Ocean</p>

      <h2>Education.</h2>
      <div class="rightpic">
        <div class="rightpicsplit1">
          <img src="./images/dev-mountain-logo.png"/>
        </div>
        <div class="rightpicsplit2">
          <img src="./images/maplewood.jpg"/>
        </div>
      </div>
      <div class="rightpic">
        <div class="rightpicsplit1">
          <span>
            <p>DevMountain - Full Stack Web Development</p>
            <p>Provo, UT <br>11-2015-03/2016</p>
          </span>
        </div>
        <div class="rightpicsplit2">
          <span>
            <p>Maplewood Career Center - HTML, CSS, iOS</p>
            <p>Ravenna, OH <br>08/2015-12/2015</p>
          </span>
        </div>
      </div>
      <div class="rightpic">
        <div class="rightpicsplit1">
          <img src="./images/BuffaloLogo.jpg"/>
        </div>
        <div class="rightpicsplit2">
          <img src="./images/MarineSchools.png"/>
        </div>
      </div>
      <div class="rightpic">
        <div class="rightpicsplit1">
          <span>
            <p>SUNY - <br>University at Buffalo - Bachelor's of Science Mechanical Engineering</p>
            <p>Amherst, NY <br>08-2009-05/2012</p>
          </span>
        </div>
        <div class="rightpicsplit2">
          <span>
            <p>Marine Corps Combat Service Support School - Supply Chain and Inventory Management</p>
            <p>Jacksonville, NC <br>12-2004-02/2005</p>
          </span>
        </div>
      </div>

      <h2>Experience.</h2>

      <div class="rightpic">
        <img src="./images/mtcslogo.png"/>
      </div>
      <span>
        <p>Montana Code School - Lead Instructor - Web Development</p>
        <p>Bozeman, MT 05/2016-Present</p>
      </span>
      <p>Creates, directs, and instructs curriculum for coding bootcamp that focuses on the MERN stack, HTML, CSS, and JavaScript as the main curriculum.</p>
      <p>Responsible for teaching 20+ students and guiding other instructors/teaching assistants in web development technologies and best practices in a 12 week immersive course.</p>
      <p>Teaches Angular, SQL, LESS/SASS/SCSS, Gulp, Webpack, Firebase, d3, hosting, unit testing, Bootstrap/Materialize, Ionic, React Native and other technologies as secondary curriculum.</p>

      <div class="rightpic">
        <img src="./images/dmlong.png"/>
      </div>
      <span>
        <p>DevMountain - Mentor, Teacher</p>
        <p>Provo, UT 03/2016-05/2016</p>
      </span>
      <p>Guides and teaches web development students through learning entire MEAN stack, HTML, CSS, JavaScript, and its many libraries.</p>
      <p>Teaches groups of 8 or more students the principles of coding and best practices.</p>

      <div class="rightpic">
        <img src="./images/SolLogo.PNG"/>
      </div>
      <span>
        <p>Sol Innovations Ltd. - Owner and Consultant</p>
        <p>Provo, UT 09/2015-Present</p>
      </span>
      <p>I design, develop, and produce environmentally friendly products that help create a sustainable world and meet the needs of any customer.</p>
      <p>I provide services for problem solving, design, development, energy and cost efficiency, rapid prototyping, heating applications, alternate energies, and much more.</p>
      <p>I designs and develop websites and web applications on both front and back ends that create a positive user experience and functional interactivity.</p>
      <div class="rightpic">
        <img src="./images/parker_color.jpg"/>
      </div>
      <span>
        <p>Parker Hannifin Parflex Division - New Product Development Engineer</p>
        <p>Ravenna, OH 06/2012-11/2015</p>
      </span>
      <p>I designed and developed the embodiment and circuitry of all incoming electrically heated hoses. I developed over 750 new part numbers for over $30M in total sales.</p>
      <p>I planned and validated new products, designs, and processes per APQP tools, resulting in less than 25 returned parts per million parts sold from 2012 to 2015.  I documented and distributed lab test reports and engineering specifications to suppliers and customers, domestically and internationally.</p>
      <p>I was responsible for the evaluation of cost effective manufacturing and redesign resulting in over $2M ($750K in the past year) Value Added / Value Engineered savings and 25% return on sales.</p>
      <p>I supervised and coached at any time one to three engineering co-ops and interns in industry and practical application development.</p>
      <div class="rightpic">
        <img src="./images/General-Motors-Logo.jpg"/>
      </div>
      <span>
        <p>General Motors - Manufacturing Engineer Intern</p>
        <p>Lockport, NY 10/2011-05/2012</p>
      </span>
      <p>I was repesponsible in supporting the development of radiator and condenser prototypes by reviewing the process control plans and implementing designs and design changes.</p>
      <p>I provided tools necessary to maintain an efficient work environment for manufacturing/assembly personnel through design, procurement, installation, and release of new manufacturing systems.</p>
      <p>I coordinated build, inspection, and release of measurement systems and gauges required for the implementation of several new heat exchanger models.</p>
      <div class="rightpic">
        <img src="./images/Marines.jpg"/>
      </div>
      <span>
        <p>United States Marine Corps - Supply Chain and Inventory Manager, Buyer</p>
        <p>Cherry Point, NC 08/2004-01/2009</p>
      </span>
      <p>I maintained 17 internal inventory accounts totaling over $1.5M (US) and $19M (overseas) including the coordination with external associates to reconcile accounting, logistic, and inventory accounts with over 200 line items.</p>
      <p>I supervised 6 office and warehouse personnel to maintain a diligent operating atmosphere and efficient inventory accounting, procurement, and financial reporting.</p>
      <p>I served as a buyer using Government Credit Card, received and ordered requisition requests from various departments to fulfill training, combat, and administrative needs.</p>

      <h2>Other Things.</h2>

      <span><p>Quality Tools</p></span>
      <p>APQP (Control Plan, DFMEA, DVP&R, PFMEA), Lean Principles (2P/3P, Bootcamp I/II), MSA/Gage R&R, Quality Management Systems (QSI)</p>

      <span><p>Supply Chain Tools</p></span>
      <p>Document Control, Government Credit Card, Inventory Management, MRP</p>
      <span><p>Additional</p></span>
      <p>DOD Secret Clearance, High Performance Team, Project Management, Voice of the Customer</p>

      <h2>Interests.</h2>
      <span><p>Stuff that gets me going.</p></span>
      <p>Climbing, Outdoor Recreation, Sustainable Energy, Tinkering, Creating, Travel, Music, Painting</p>
      <span><p>Volunteer</p></span>
      <p>Speaker at Big Sky Dev Con, Salt Lake City Refuge and Immigrant Center (Robotics and Computer Science), Habitat for Humanity, Toys for Tots, Rock Climbing Club President - UB</p>

      <div class="rightpic">
        <img src="./images/DSCF1071.JPG"/>
      </div>
      <span><p>Phew! That was a lot.</p></span>
    </div>
  </div>
</div>
