<style media="screen">
  .nav1 p{
    color: #cf0000;
  }
</style>

<div class="container">

  <div class="rightside">
    <div class="rightbanner">
      <div class="righttext">
        <h1>ABOUT ME</h1>
      </div>
    </div>

    <div class="righttext">
      <h2>Hi. I'm Nick.</h2>
      <p>I am a front end software developer, entreprenuer, engineer, veteran, climber, adventurer, and artist. </p>
      <div class="rightpic">
        <img src="./images/IMG_1164.jpg"/>
      </div>
      <p>My front end development skills have come a long way since making my career change in 2015. I am continually learning at a dramatic rate, and I will continue to improve those skills as I progress into my career.</p>
      <p>I also started my own project based engineering business, <a href="http://sol-innovations.nickmarucci.com" target="_blank">Sol Innovations</a>, in September 2015. This will act as my umbrella business for more focused subsidiaries. You can see a more extensive list of my experience on my <a ui-sref="resume">resume</a> page.</p>
      <div class="rightpic">
        <img src="./images/boulder.jpg"/>
      </div>
      <p>I try to keep things light and make an impact in a positive way, whether it means bringing the sunshine on a cloudy day or helping others in need. I am thankful for all that I have and appreciate every day I am given. I hope to also give back to others, so they can also live a happy and wonderful life.</p>
      <div class="rightpic">
        <img src="./images/DSCF0855.JPG"/>
      </div>
    </div>
  </div>
</div>
